<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shopping List</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
    .container {
      width: 40%;
      margin: 20px auto 0px auto;
    }

    .removed label {
      text-decoration: line-through;
    }

    ul li {
      list-style-type: none;
    }

    ul li span {
      margin-left: 5px;
    }

    .footer {
      font-size: 0.7em;
      margin-top: 20vh;
    }
  </style>
</head>
<body>
<div id="app" class="container">
  <h2>{{ title }}</h2>
  <div class="input-group">
    <input v-model="newItem" @keyup.enter="addItem" 
           placeholder="新增一個購物項目" type="text"
           class="form-control" title="按下 enter 新增！">
    <span class="input-group-btn">
      <button @click="addItem" class="btn btn-default" 
              type="button">新增！</button>
    </span>
  </div>
  <ul>
    <li v-for="item in items" :class="{ 'removed': item.checked }">
      <div class="checkbox">
        <label>
          <input type="checkbox" v-model="item.checked"> {{ item.text }}
        </label>
      </div>
    </li>
  </ul>
  <div class="footer">
    <hr/>
    在此變更 <em>購物清單標題</em>：
    <input v-model="title"/>
    <hr/>
    <ul>
      <li>
        ★ 購物清單標題：資料雙向連繫（binding）
      </li>
      <li>
        ★ @keyup.enter 與 @click：呼叫 addItem method
      </li>
      <li>
        ★ v-for：將 Array 迴圈顯示購物清單項目
      </li>
      <li>
        ★ checkbox ＋ v-model：是否勾選
      </li>      
    </ul>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src="script.js"></script>
</body>
</html>